/**********************************site-banner section********************************/
.site-banner-apartments-bg {
    background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
}
.chosen-accommodation .heading-15-meb {
    font-family: Montserrat-ExtraBold;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 1.37px;
    color: white;
}
.chosen-accommodation {
    padding-bottom: 70px !important;
}
/******************x***************end site-banner section******************x*************/
/***********************************accommodation-content**********************************/
.accommodation-content {
    margin: 0 auto;
    margin-bottom: 80px;
}
.chosen-room-date-wrapper p, .how-to-get-wrapper p {
    margin-bottom: 0;
}
.accommodation-address-wrapper {
    margin-bottom: 25px;
}
.chosen-room-date-wrapper {
    margin-bottom: 25px;
    position: relative;
    left: 23px;
}
.how-to-get-wrapper {
    position: relative;
    left: 23px;
    margin-bottom: 30px;
}
.chosen-room-date-wrapper::before {
    content: "\263B";
    position: absolute;
    left: -23px;
    color: gray;
}
.how-to-get-wrapper::before {
    content: "\263B";
    position: absolute;
    left: -23px;
    color: gray;

}
.accommodation-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.accommodation-carousel {
    position: relative;
    left: 30px;
}

.view-home {
    border-bottom: 1px solid #a2a1aa;
    width: 279px;
    padding-bottom: 10px;
}
.accommodation-btn {
    width: 770px;
}
.accommodation-btn2 {
    padding: 13px 30px;
    border-radius: 8px !important;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.55px;
    margin-top: 10px;
}
.accommodation-content .glide-thumb-carousel-wrapper {
    margin-bottom: 15px !important;
}

/******************x*****************end accommodation-content*****************x*****************/
/*************************************workspace-near-accommodation-section************************/
.workspace-near-accommodation-section {
    display: flex;
    align-items: center;
    height: 477px;
    background-color: #f8f8f8;
}
.workspace-near-accommodation-title {
    margin-bottom: 28px;
}
.workspace-near-accommodation-title::before {
    content: url("../assets/img/icon-workspace.svg");
    padding-right: 7px;
    vertical-align: middle;
}
/*************************************end workspace-near-accommodation-section************************/
/*****************************************owl-carousel-arrows*****************************************/
.workspace-near-accommodation-item-wrapper .owl-nav {
    position: absolute;
    top: 35%;
    right: 44px;
}
.workspace-near-accommodation-item-wrapper .owl-prev {
    display: none;
}
.workspace-near-accommodation-item-wrapper .owl-next {
    width: 36px;
    height: 36px;
    box-shadow: 0 4px 10px 0 rgba(27, 27, 27, 0.11);
    background-color: #ffffff !important;
    color: #adb5bd !important;
    border-radius: 50%;
}
.workspace-near-accommodation-section > div > div > div > div.owl-nav > button.owl-next > span {
    font-size: 40px;
    height: 36px;
    line-height: 0.7;
}
/*****************************************end owl-carousel-arrows*****************************************/
/***********************************************Responsiveness********************************************/
@media (max-width: 1420px) {
    /***********************************(1420)accommodation-content**********************************/
    .accommodation-carousel {
        position: unset;
        left: unset;
    }
    .accommodation-btn {
        width: 100%;
    }
    /***********************************end accommodation-content**********************************/
}
@media (max-width: 992px) {
    /***********************************(992)accommodation-content**********************************/
 .accommodation-content .row {
    display: flex;
    flex-direction: column-reverse;
 }
    /***********************************end accommodation-content**********************************/
}
@media (max-width: 768px) {
    /*****************************************(768)site-banner*******************************************/
    .chosen-accommodation {
        height: 35vh !important;
        padding-bottom: 40px !important;
    }
    /*****************************************(768)site-banner*******************************************/
    /***********************************(768)accommodation-content**********************************/
 .accommodation-content .row {
    display: flex;
    flex-direction: column-reverse;
 }
 .accommodation-content {
     margin-bottom: 30px;
 }
    /***********************************end accommodation-content**********************************/
}
@media (max-width: 600px) {
    /*****************************************(600)site-banner*******************************************/
    .chosen-accommodation {
        height: 35vh !important;
        padding-bottom: 10px !important;
    }
    .chosen-accommodation .heading-15-meb {
        font-size: 30px !important;
    }
    /*****************************************end site-banner*******************************************/
    /***********************************(600)accommodation-content**********************************/
.accommodation-address-wrapper .heading-22-mb-black {
    font-size: 20px !important;
}
.accommodation-address-wrapper .heading-25-mm {
    font-size: 15px !important;
}
.chosen-room-date-wrapper .heading-32-mb {
    font-size: 15px !important;
}
.chosen-room-date-wrapper .heading-2-osr-black  {
    font-size: 15px !important;
}
.how-to-get-wrapper .heading-32-mb {
    font-size: 15px !important;
}
.how-to-get-wrapper .heading-2-osr-black  {
    font-size: 15px !important;
}
    /***********************************end accommodation-content**********************************/
}