@import url(/css/fonts.css);

/* header, main, footer {
    max-width: 1920px;
} */
.main-container {
    max-width: 1920px;
    margin: 0 auto;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, p, div {
    word-break: break-word;
}
ul {
    padding: 0;
}
li {
    list-style-position: inside;
    padding: 0;
}
main {
    height: 0;
}
div[class^="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    z-index: 999;
    transition: background 1s ease;
    background: rgba(0, 0, 0, 0.425);
}
.grid-container {
    max-width: 1571px !important;
}
.footer-container {
    max-width: 1800px;
}
.grid-gap {
    margin: 28px;
}
.grid-gap-r {
    margin-right: 28px;
}
.grid-gap-l {
    margin-left: 28px;
}
.grid-gap-t {
    margin-top: 28px;
}
.grid-gap-b {
    margin-bottom: 28px;
}
.heading-nautilus {
    font-family: Nautilus;
    font-size: 36px;
    letter-spacing: 1.23px;
    color: white;
}
.heading-1-meb {
    font-family: Montserrat-ExtraBold;
    margin: 0;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 2.19px;
    color: white;
}
.heading-2-meb {
    font-family: Montserrat-ExtraBold;
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 1.37px;
    color: #464457;
}
.heading-2-mb {
    font-family: Montserrat-Bold;
    margin: 0;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.82px;
    color: white;
}
.heading-3-mb {
    font-family: Montserrat-Bold;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.55px;
    color: #464457;
}
.heading-2-mm {
    font-family: Montserrat-Medium;
    margin: 0;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1.1px;
    color: #464457;
}
.heading-1-ossb {
    font-family: OpenSens-SemiBold;
    margin: 0;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 1.37px;
    color: white;
}
.heading-2-ossb {
    font-family: OpenSens-SemiBold;
    margin: 0;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.69px;
    color: #464457;
}
.heading-3-osb {
    font-family: OpenSens-Bold;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.55px;
    color: white;
}
.heading-2-osr {
    font-family: OpenSens-Regular;
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.55px;
    color: #1b1b1b;
}
.heading-3-osr {
    font-family: OpenSens-Regular;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.55px;
    color: #1b1b1b;
}
.heading-4-osr {
    font-family: OpenSens-Regular;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.41px;
    color: white;
}

/* ************************buttons ******************************/
.button-primary {
    display: inline-block;
    padding: 13px 30px;
    color: white;
    border-radius: 8px;
    background-color: #1ca880;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.55px;
    border: 1px solid  #1ca880;
    transition: all 0.5s;
}
.button-primary:hover {
    background-color: transparent;
    color: black;
}
.button-secondary {
    display: inline-block;
    padding: 13px 30px;
    color: white;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.55px;
    border: 1px solid white;
    transition: all 0.5s;
}
.button-secondary:hover {
    color: white;
     border: 1px solid rgba(34, 33, 33, 0.404);
}
/* ************************end buttons ******************************/

/*****************************inputs ********************************/
.input-search {
    height: 40px;
    width: 240px !important;
    background-color: transparent;
    border-color: white;
   

}
.input-search::placeholder {
    color: white;
    background: transparent;
}
.input-search:focus {
    color: white;
    background: transparent;
}
.input-sign-in {
    width: 96px;
    height: 40px;
    border-color: white;
    color: white;
    transition: all 0.5s;
}
.input-sign-in::placeholder {
    color: white !important;
}
.input-join {
    width: 75px;
    height: 40px;
    color: white;
    transition: all 0.5s;
}
/*****************************end inputs ********************************/
/******************************margins***********************************/
.mar-b-22 {
    margin-bottom: 22px;
}
.mar-b-24 {
    margin-bottom: 24px;
}
.mar-b-30 {
    margin-bottom: 30px;
}
.mar-b-40 {
    margin-bottom: 40px;
}
.mar-b-45 {
    margin-bottom: 45px;
}
.mar-b-15 {
    margin-bottom: 15px;
}
.mar-r-20 {
    margin-right: 20px;
}
.mar-r-36 {
    margin-right: 36px;
}
.mar-l-35 {
    margin-left: 35px;
}
/******************************end margins*******************************/
/*******************************paddings**********************************/
.pad-l-28 {
    padding-left: 28px !important;
}

/*******************************end paddings*******************************/
/*******************************color***************************************/
.text-white {
    color: white;
}
/************x*****************end color************************x*************/
@media(max-width: 1024px) {
    html {
        width: 100%;
    }
    body {
        width: 100%;
    }
    .main-container {
        max-width: 100%;
        width: 100%;
    }
    div[class^="col-"] {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media(max-width: 768px) {
    /*********************************responsive (768) buttons ****************************/
.responsive-btn {
    display: flex;
    justify-content: center;
}
    /**************x******************end responsive (768) buttons *************x**************/
}