footer {
    background-color: #464457;
    margin: 0 auto;
}
footer .social {
    display: flex;
    align-items: center;
    flex: 0 5 30.55%;
    max-width: 30.55%;
}
footer .main-container {
    border-top: 1px solid white;
}
.footer-container a:hover {
    color: white;
}
.footer-join {
    padding: 50px 0;
}
.social > a {
    margin-right: 36px;
}
.social-icons {
    display: flex;
}
.social-icons > a {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 36px;
     height: 36px;
     border: 1px solid white;
     border-radius: 50%;
     color: white;
     transition: background-color 0.5s;
     margin-right: 17px;
}
.footer-join .social a:hover {
    color: white;
}
.tagline {
    display: flex;
    align-items: center;
    flex: 0 0 57.78%;
    max-width: 57.78%;
}
.join {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 11.67%;
    max-width: 11.67%;
    margin-left: auto;
}
.social-icons > a:hover {
    background-color: rgba(0, 0, 0, 0.363);
}
.footer-about-us {
    padding: 35px 0 95px 0;
}
.business-about-blog {
    display: flex;
    justify-content: flex-start;
    flex: 0 0 50%;
    max-width: 50%;
}
.business-about-blog > *:not(:last-child) {
    padding-right: 43px;
}
.first-col-info ul, .second-col-info ul, .third-col-info ul {
    padding: 0;
}
.first-col-info ul li, .second-col-info ul li, .third-col-info ul li {
    list-style: none;
    color: white;
}
.footer-gg-co {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.footer-contact-us {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 50%;
    max-width: 50%;
}
.footer-contact-us-wrapper {
    max-width: 497px;
}
.newsletter-form {
    margin-bottom: 30px;
}
.form-wrapper {
    display: flex;
}
#email {
    width: 352px;
    height: 50px;
    padding: 14px 16px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid white;
    margin-right: 16px;
}
.fa-envelope, .fa-life-ring {
    color: white;
    font-size: 18px;
}
@media(max-width: 1379px) {
    footer .social {
        flex: 0 5 24.69%;
        max-width: 24.69%;
        flex-direction: column;
    }
    .tagline {
        flex: 0 0 61.48%;
        max-width: 61.48%;
    }
    .join {
        flex: 0 0 13.83%;
        max-width: 13.83%;

    }
}
@media(max-width: 1040px) {
    .footer-join {
        padding: 45px 0;
    }
    footer .social {
        flex: 0 0 100%;
        max-width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 25px;
    }
    .tagline {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 17px;
    }
    .join {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
        margin-left: unset;
    }
    .form-wrapper {
        flex-direction: column;
    }
    #email {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .btn-subscribe, .btn-subscribe:active {
        width: 100%;
    }
    .business-about-blog {
        flex: 0 0 65%;
        max-width: 65%;
    }
    .footer-contact-us {
        flex: 0 0 35%;
        max-width: 35%;
    }
    /* .business-about-blog {
        display: flex;
        justify-content: center;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer-contact-us {
        display: flex;
        justify-content: center;
        flex: 0 0 100%;
        max-width: 100%;
    } */
    .footer-contact-us-wrapper {
        max-width: 100%;
    }
}
@media(max-width: 800px) {
    .business-about-blog {
        display: flex;
        justify-content: center;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer-contact-us {
        display: flex;
        justify-content: center;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media(max-width: 600px) {
    .footer-contact-us-wrapper {
        max-width: 100%;
        width: 100%;
    }
    .footer-about-us {
        padding: 30px 0 30px 0;
    }
    .business-about-blog > *:not(:last-child) {
        padding-right: 20px;
    }

}
@media(max-width: 482px) {
    .business-about-blog .heading-15-osr {
        font-size: 16px
    }
}
@media(max-width: 417px) {
    footer .social {
        flex-direction: column;
    }
    .social > a {
        margin-right: 0;
    }
    .social > div > a:nth-child(3) {
        margin-right: 0;
    }
}
@media(max-width: 400px) {
    .business-about-blog .heading-15-osr {
        font-size: 15px
    }
    .contact-us-support .heading-15-osr-head {
        font-size: 16px;
    }
    .contact-us-support .heading-15-osr {
        font-size: 14px;
    }
}
@media(max-width: 320px) {
    .contact-us-wrapper.heading-15-osr {
        font-size: 13px
    }
    .business-about-blog > *:not(:last-child) {
        padding-right: 15px;
    }
}
