@import url(/css/common.css);
.header {
    position: absolute;
    right: 50%;
    transform: translate(50%);
    width: 100%;
    z-index: 10;
}
.navbar {
    padding-right: 30px;
    padding-left: 30px;
}
.navbar-brand {
    color: white !important;
}
.navbar-collapse {
    flex-grow: unset !important;
}
.nav-form-search {
    position: relative;
    margin-right: 20px;
    width: 240px !important;
}
.nav-item {
    padding: 0 15px;
}
.nav-item:last-child {
  padding-right: 30px;
}
.nav-link {
    font-family: OpenSens-SemiBold;
    font-size: 16px;
    letter-spacing: 0.55px;
    color: white !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.nav-item .nav-link:hover {
    border-bottom: 1px solid white;
}
.fa-search {
    position: absolute;
    right: 20px;
}

/********js**********/
.custom-extend-navbar {
    position: absolute;
    top: 100px;
}
@media(max-width: 1200px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
}
@media(max-width: 992px) {
    .navbar {
        display: flex;
        flex-direction: row;
    }
}
