/**********************************site-banner section********************************/
.site-banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    z-index: -1;
    padding-right: 15px;
    padding-left: 15px;
}
.site-gep-section {
    margin-bottom: 120px;
}
.site-banner-height {
    height: 100vh;
}
.site-banner .title-width {
max-width: 620px;
}
.site-banner .subtitle-width {
    max-width: 870px;
}
/**js**/
.js-sity-margin {
    transition: all 0.7s;
}
/******************x***************site-banner section******************x*************/

/**********************************description section********************************/
.description-section {
    padding: 124px 0;
    background-color: #fafafb;
    padding-right: 15px;
    padding-left: 15px;
}
.description-text-wrapper {
    max-width: 470px;
}
.description-img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 571px;
}
.description-img {
    width: 170px;
    height: 170px;
    border-radius: 8px;
    background-color: rgb(21, 156, 111);
}
.description-img-wrapper > *:not(:nth-child(3n + 0)) {
    margin-bottom: 28px;
}

/*************x******************end description section******************x***********/

/**********************************globe-components section********************************/
.globe-components {
    padding: 119px 0;
    background-color: #fff;
    padding-right: 15px;
    padding-left: 15px;
}
.globe-container {
    display: flex;
    align-items: center;
}
.globe-live-wrapper, .globe-meet-wrapper {
    max-width: 470px;
}
.globe-work-wrapper {
    max-width: 446px;
}
.globe-img-wrapper {
    max-width: 770px;
    height: 428px;
    border-radius: 8px;
    background-color: rgb(21, 156, 111);
}
.globe-components .row:not(:last-child) {
    margin-bottom: 150px;
}
/*************x******************end globe-components section******************x***********/

/*********************************instagram section*****************************************/
.instagram-section {
    position: relative;
    width: 100%;
    background-color: rgb(21, 156, 111);
    margin-bottom: 150px;
}
.instagram-section-info{
    z-index: 100;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45.52%;
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgba(104, 208, 227, 0.99) -37%, #37a3c3);
}
.instagram-content-wrapper {
    width: 409px;
    text-align: center;
}
.instagram-section-title {
    margin-bottom: 23px;
}
.instagram-content-wrapper h3 {
    margin-bottom: 30px;
}
.instagram-content-wrapper p {
    margin-bottom: 28px;
}

/**************x******************end instagram section****************************x************/
/***********************************location-section*********************************************/
.location-section {
    margin-bottom: 71px;
}
.location-type-container {
    padding-right: 15px;
    padding-left: 15px;
}
.location-section .location-grid {
    transition: 0.5s all;
    display: none;
}
.location-section .location-grid.active {
    display: flex;
}
.location-type-container button.active {
    box-shadow: 0 4px 10px 0 #555;
    outline: none;
}
.location-type-container button:focus {
    box-shadow: 0 4px 10px 0 #555;
}
.location-type-container button {
    background: transparent;
    border-radius: 8px;
    border: solid 2px #f6f5f6;
    padding: 5px 13px;
    box-shadow: 0 4px 10px 0 rgba(27, 27, 27, 0.11);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 240px;
}
.location-text-container > .col-12 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.location-type-container button + button{
    margin-left: 10px;
}
#addToLocationBtnOwlCarousel button img{
    width: auto !important;
}

.location-grid > * {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-bottom: 60px;
}
.grid-item-content {
    padding: 14px 16px 22px 14px;
}
.grid-item-desc {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 94px;
    overflow: hidden;
}

.plushka-item {
    display: inline-block;
    font-family: OpenSans-Regular;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.41px;
    color: #464457;
}
.grid-item-plushky > *:not(:last-child)::after {
    content: "|";
    margin-left: 5px;
}
.work {
    background-color: yellow !important;
}
/**************x*********************end location-section***************************x******************/

/************************************||||||responsive section|||||||*************************************/

@media(max-width: 1024px) {
    /********************************** responsive (1024) site-banner section********************************/
    .site-banner .title-width {
    max-width: 100%;
    }
    .site-banner .subtitle-width {
        max-width: 100%;
    }
    /*************x******************end responsive (1024) site-banner section******************x***********/

    /********************************** responsive (1024) description section********************************/
    .description-text-wrapper {
        width: auto;
    }
    /*************x******************end responsive (1024) description section******************x***********/

    /**********************************responsive (1024) globe-components section********************************/

    /*************x********************end responsive (1024) globe-components section************x*******************/
    /*********************************responsive (1024) instagram section*****************************************/
    .instagram-section-info {
        width: 50.5%;
    }
    /*************x******************* end responsive (1024) instagram section***********************x*****************/
}
@media(max-width: 992px) {
    /********************************** responsive (992) description section********************************/
    .description-img-container {
        display: flex;
        justify-content: center;
    }
     /*************x******************end responsive (992) description section******************x***********/
     /*********************************responsive (992) globe-components section ****************************/
           .live-row, .meet-row{
            display: flex;
            flex-direction: column-reverse;
          }
          .work-row{
            display: flex;
            flex-direction: column;
          }
          .pad-l-28 {
              padding-left: 15px !important;
          }
          .globe-live-wrapper, .globe-work-wrapper, .globe-meet-wrapper  {
            max-width: 100%;
        }
        .globe-components {
            padding: 0;
        }
          /**************x******************end responsive (992) globe-components section *************x**************/
}
@media(max-width: 768px) {
      /********************************** responsive (768) description section********************************/
      .description-section {
        padding: 60px 0;
        margin-bottom: 60px;
    }
    .description-img-container {
        display: flex;
        justify-content: center;
    }
      /*************x******************end responsive (768) description section******************x***********/
      /*********************************responsive (768) globe-components section ****************************/
      .globe-components .description-container {
          position: relative;
          overflow: hidden;
      }
      .globe-components .owl-prev {
        display: none;
      }
      .globe-components .owl-next {
        width: 36px;
        height: 36px;
        box-shadow: 0 4px 10px 0 rgba(27, 27, 27, 0.11);
        background-color: #ffffff !important;
        color: #adb5bd !important;
        border-radius: 50%;
      }
      #addOwlCarousel > div.owl-nav > button.owl-next > span {
        font-size: 40px;
        height: 36px;
        line-height: 0.7;
      }
      .globe-components .owl-nav {
        position: absolute;
        top: 27%;
        right: 0;
      }
      /**************x******************end responsive (768) globe-components section *************x**************/
      
      /***************************************responsive (768)instagram-section *****************************************/
      .instagram-section {
        height: 1146px;
        margin-bottom: 60px;
      }
      .instagram-section-info {
        bottom: 0;
        width: 100% !important;
        height: 50%;
        top: 50%;
      }
      /******************x******************** end responsive (768) instagram-section **************x**********************/
      /*************************************************responsive location-section**************************************/
      .location-section {
        margin-bottom: 0;
    }
      .location-card-img {
        max-width: 100%;
        height: 226px;
        object-fit: contain;
        background-color: rgb(21, 156, 111);
        border-radius: 8px;
    }
    /* .location-grid > * {
        width: 768px;
    } */
        /***************************************end responsive location-section ***********/
}
@media(max-width: 600px){
    .location-section .location-type-container {
        width: 96%;
        margin: 0 auto;
        margin-bottom: 10px !important;
    }
    .location-section .location-type-container button {
        display: flex;
        flex-direction: column;
        padding: 5px 3px;
        box-shadow: none !important;
        width: 48% !important;
        justify-content: space-around;
    }
    .location-type-container button.active {
        background-color: #1ca880;
        color: white;
    }
    .location-type-container button + button {
        margin-left: 5px;
    }
    .location-type-container button.heading-2-ossb {
        line-height: 15px;
        font-size: 13px;
    }
    .location-text-container {
        margin-right: 0;
        margin-left: 0;
    }
}
@media(max-width: 576px) {
/********************************** responsive (576) site-banner section********************************/
    .site-banner .heading-1-meb {
        font-size: 44px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: 1.51px;
        color: #ffffff;
        }
        .description-section {
            margin-bottom: 0;
            padding: 55px 0;
        }
.globe-components {
    margin-bottom: 30px;
}
.globe-components #addOwlCarousel > div.owl-stage-outer {
    margin-bottom: 13px;
}
#addOwlCarousel > div.owl-stage-outer > div > div.owl-item.active > div > div.pad-l-28 {
    padding: 0 !important;
}
.globe-components .owl-dot.active {
    width: 14px;
    height: 14px;
    opacity: 1;
    border-radius: 50%;
    border: none !important;
    background-color: #a2a1aa !important;
}
.globe-components .owl-dot {
    width: 14px;
    height: 14px;
    opacity: 0.5;
    border-radius: 50%;
    border: none !important;
    background-color: #a2a1aa !important;
}
        .globe-img-wrapper {
            max-width: 100%;
        }
        .description-text-wrapper .heading-2-meb {
            font-size: 32px;
        }
        .description-text-wrapper .mar-b-24, .mar-b-40 {
            margin-bottom: 14px !important;
        }
        .site-banner .heading-1-ossb {
            font-size: 24px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: 0.82px;
            color: #ffffff;
            }
            .site-banner .mar-b-24 {
                margin-bottom: 30px;
            }
            .location-text-container .heading-2-meb {
                font-size: 31px;
                margin-bottom: 12px !important;
            }
            .location-text-container .heading-2-mm {
                font-size: 20px;
                line-height: 31px;
                margin-bottom: 20px !important;
            }
            .business-about-blog > *:not(:last-child) {
                padding-right: 12px !important;
            }

    /*************x******************end responsive (576) site-banner section******************x***********/
    /********************************** responsive (576) description section********************************/
    .description-img-wrapper {
        justify-content: center;
    }
    .description-img-wrapper > *:nth-child(odd) {
        margin-right: 18px;
    }
    .description-text-wrapper {
        width: auto;
    }
    .description-img {
        width: 183px;
        height: 183px;
        margin-bottom: 18px !important;
    }
    /*************x******************end responsive (576) description section******************x***********/
       /************************************** responsive (576) instagram-section ************************************/
    .instagram-section {
        height: 811px;
      }
      .instagram-content-wrapper {
          width: 100%;
      }

      /******************x******************** end responsive (576) instagram-section **************x**********************/
}
@media(max-width: 426px) {
     /********************************** responsive (426) description section********************************/
    .description-img {
        width: 150px;
        height: 150px;
        margin-bottom: 18px !important;
    }
    /*************x******************end responsive (426) description section******************x***********/
}
@media(max-width: 414px) {
    /********************************** responsive (414) description section********************************/
    .description-img {
        width: 183px;
        height: 183px;
        margin-bottom: 18px !important;
    }
    /*************x******************end responsive (414) description section******************x***********/
}
@media(max-width: 411px) {
    /********************************** responsive (411) description section********************************/
    .description-img {
        width: 180px;
        height: 180px;
        margin-bottom: 18px !important;
    }
      /*************x******************end responsive (411) description section******************x***********/
}
@media(max-width: 375px) {
    /********************************** responsive (375) description section********************************/
    .description-img {
        width: 163px;
        height: 163px;
        margin-bottom: 18px !important;
    }
    /*************x******************end responsive (375) description section******************x***********/
}
@media(max-width: 360px) {
    .description-img {
        width: 155px;
        height: 155px;
        margin-bottom: 18px !important;
    }
    .site-banner .heading-1-meb {
        font-size: 37px;
        }
        .site-banner .heading-1-ossb {
            font-size: 18px;
            line-height: 1.60;
            }
            .site-banner .mar-b-24 {
                margin-bottom: 30px;
            }
    .site-banner .button-primary {
        padding: 10px 19px;
        font-size: 16px;
    }
    .site-banner .button-secondary {
        padding: 10px 19px;
        font-size: 16px;
    }
}
@media(max-width: 320px) {
    /********************************** responsive (576) site-banner section********************************/
    .site-banner .heading-1-meb {
        font-size: 32px;
        }
    /*************x******************end responsive (576) site-banner section******************x***********/
     /********************************** responsive (320) description section********************************/
    .description-img {
        width: 136px;
        height: 136px;
        margin-bottom: 18px !important;
    }
    /*************x******************end responsive (320) description section******************x***********/
}
/**************x*********************end responsive section*************************x***********/