/**********************************site-banner section********************************/
.site-banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    z-index: -1;
}
.site-gep-section {
    margin-bottom: 120px;
}
.site-banner-height {
    height: 100vh;
}
.site-banner .title-width {
max-width: 620px;
}
.site-banner .subtitle-width {
    max-width: 870px;
}
/**js**/
.js-sity-margin {
    transition: all 0.7s;
}
/******************x***************site-banner section******************x*************/

/**********************************description section********************************/
.description-section {
    padding: 124px 0;
    background-color: #fafafb;
}
.description-container {
    max-width: 1367px;
}
.description-text-wrapper {
    max-width: 470px;
}
.description-img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 571px;
}
.description-img {
    width: 170px;
    height: 170px;
    border-radius: 8px;
    background-color: rgb(21, 156, 111);
}
.description-img-wrapper > *:not(:nth-child(3n + 0)) {
    margin-bottom: 28px;
}

/*************x******************end description section******************x***********/

/**********************************globe-components section********************************/
.globe-components {
    padding: 119px 0;
    background-color: #fff;
}
.globe-container {
    display: flex;
    align-items: center;
}
.globe-live-wrapper, .globe-meet-wrapper {
    max-width: 470px;
}
.globe-work-wrapper {
    max-width: 446px;
}
.globe-img-wrapper {
    max-width: 770px;
    height: 428px;
    border-radius: 8px;
    background-color: rgb(21, 156, 111);
}
.globe-components .row:not(:last-child) {
    margin-bottom: 150px;
}
/*************x******************end globe-components section******************x***********/

/*********************************instagram section*****************************************/
.instagram-section {
    position: relative;
    width: 100%;
    background-color: rgb(21, 156, 111);
    margin-bottom: 150px;
}
.instagram-section-info{
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45.52%;
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgba(104, 208, 227, 0.99) -37%, #37a3c3);
}
.instagram-content-wrapper {
    width: 409px;
    text-align: center;
}
.instagram-section-title {
    margin-bottom: 23px;
}
.instagram-content-wrapper h3 {
    margin-bottom: 30px;
}
.instagram-content-wrapper p {
    margin-bottom: 28px;
}

/**************x******************end instagram section****************************x************/
/***********************************location-section*********************************************/
.location-section {
    margin-bottom: 71px;
}
.location-type-container {
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.location-type-container button {
    background: transparent;
    border-radius: 8px;
    border: solid 2px #f6f5f6;
    padding: 5px 13px;
    box-shadow: 0 4px 10px 0 rgba(27, 27, 27, 0.11);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 240px;
}
.location-text-container > .col-12 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.location-type-container button + button{
    margin-left: 10px;
}
#addToLocationBtnOwlCarousel button img{
    width: auto !important;
}
/* #addToLocationOwlCarousel .owl-stage-outer {
    width: 109%;
} */
/* #addToLocationBtnOwlCarousel .owl-stage-outer {
    width: 115%;
} */
.location-grid > * {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-bottom: 60px;
}
.location-card {
   display: flex;
   flex-direction: column;
}
.card-img-wrapper {
    display: flex;
    flex-direction: column;
    
}
.card-img {
    position: relative;
    display: flex;
    flex-direction: column;
}

.location-card-img {
    max-width: 370px;
    height: 226px;
    object-fit: contain;
    background-color: rgb(21, 156, 111);
    border-radius: 8px;
}
.location-card-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: auto !important;
}
.location-card-description {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 16px 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.247);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.location-description-icon {
    object-fit: contain;
    width: auto !important;
}
.card-address-note {
    position: relative;
}
.card-address-note::before {
    content: "i";
    position: absolute;
    left: -18%;
    display: flex;
    justify-content: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-weight: bold;
}
.work {
    background-color: yellow !important;
}
/**************x*********************end location-section***************************x******************/

/************************************||||||responsive section|||||||*************************************/

@media(max-width: 1024px) {
    /********************************** responsive (1024) site-banner section********************************/
    .site-banner .title-width {
    max-width: 100%;
    }
    .site-banner .subtitle-width {
        max-width: 100%;
    }
    /*************x******************end responsive (1024) site-banner section******************x***********/

    /********************************** responsive (1024) description section********************************/
    .description-text-wrapper {
        width: auto;
    }
    /*************x******************end responsive (1024) description section******************x***********/

    /**********************************responsive (1024) globe-components section********************************/

    /*************x********************end responsive (1024) globe-components section************x*******************/
    /*********************************responsive (1024) instagram section*****************************************/
    .instagram-section-info {
        width: 50.5%;
    }
    /*************x******************* end responsive (1024) instagram section***********************x*****************/
}
@media(max-width: 992px) {
    /********************************** responsive (992) description section********************************/
    .description-img-container {
        display: flex;
        justify-content: center;
    }
     /*************x******************end responsive (992) description section******************x***********/
     /*********************************responsive (992) globe-components section ****************************/
           .live-row, .meet-row{
            display: flex;
            flex-direction: column-reverse;
          }
          .work-row{
            display: flex;
            flex-direction: column;
          }
          .pad-l-28 {
              padding-left: 15px !important;
          }
          .globe-live-wrapper, .globe-work-wrapper, .globe-meet-wrapper  {
            max-width: 100%;
        }
        .globe-components {
            padding: 0;
        }
          /**************x******************end responsive (992) globe-components section *************x**************/
}
@media(max-width: 768px) {
      /********************************** responsive (768) description section********************************/
      .description-section {
        padding: 60px 0;
        margin-bottom: 60px;
    }
    .description-img-container {
        display: flex;
        justify-content: center;
    }
      /*************x******************end responsive (768) description section******************x***********/
      /*********************************responsive (768) globe-components section ****************************/
      .globe-components .description-container {
          position: relative;
      }
      .globe-components .owl-prev {
        display: none;
      }
      .globe-components .owl-next {
        width: 36px;
        height: 36px;
        box-shadow: 0 4px 10px 0 rgba(27, 27, 27, 0.11);
        background-color: #ffffff !important;
        color: #adb5bd !important;
        border-radius: 50%;
      }
      #addOwlCarousel > div.owl-nav > button.owl-next > span {
        font-size: 40px;
        height: 36px;
        line-height: 0.7;
      }
      .globe-components .owl-nav {
        position: absolute;
        top: 27%;
        right: 0;
      }
      /**************x******************end responsive (768) globe-components section *************x**************/
      
      /***************************************responsive (768)instagram-section *****************************************/
      .instagram-section {
        height: 1146px;
        margin-bottom: 60px;
      }
      .instagram-section-info {
        bottom: 0;
        width: 100% !important;
        height: 50%;
        top: 50%;
      }
      /******************x******************** end responsive (768) instagram-section **************x**********************/
      /*************************************************responsive location-section**************************************/
      .location-section {
        margin-bottom: 0;
    }
      .location-card-img {
        max-width: 100%;
        height: 226px;
        object-fit: contain;
        background-color: rgb(21, 156, 111);
        border-radius: 8px;
    }
    /* .location-grid > * {
        width: 768px;
    } */
        /***************************************end responsive location-section ***********/
}
@media(max-width: 576px) {
/********************************** responsive (576) site-banner section********************************/
    .site-banner .heading-1-meb {
        font-size: 44px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: 1.51px;
        color: #ffffff;
        }
        .site-banner .heading-1-ossb {
            font-size: 24px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: 0.82px;
            color: #ffffff;
            }
            .site-banner .mar-b-24 {
                margin-bottom: 30px;
            }
    /*************x******************end responsive (576) site-banner section******************x***********/
    /********************************** responsive (576) description section********************************/
    .description-img-wrapper {
        justify-content: center;
    }
    .description-img-wrapper > *:nth-child(odd) {
        margin-right: 18px;
    }
    .description-text-wrapper {
        width: auto;
    }
    .description-img {
        width: 183px;
        height: 183px;
        margin-bottom: 18px !important;
    }
    /*************x******************end responsive (576) description section******************x***********/
       /************************************** responsive (576) instagram-section ************************************/
    .instagram-section {
        height: 811px;
      }
      .instagram-content-wrapper {
          width: 100%;
      }

      /******************x******************** end responsive (576) instagram-section **************x**********************/
}
@media(max-width: 426px) {
     /********************************** responsive (426) description section********************************/
    .description-img {
        width: 150px;
        height: 150px;
        margin-bottom: 18px !important;
    }
    /*************x******************end responsive (426) description section******************x***********/
}
@media(max-width: 414px) {
    /********************************** responsive (414) description section********************************/
    .description-img {
        width: 183px;
        height: 183px;
        margin-bottom: 18px !important;
    }
    /*************x******************end responsive (414) description section******************x***********/
}
@media(max-width: 411px) {
    /********************************** responsive (411) description section********************************/
    .description-img {
        width: 180px;
        height: 180px;
        margin-bottom: 18px !important;
    }
      /*************x******************end responsive (411) description section******************x***********/
}
@media(max-width: 375px) {
    /********************************** responsive (375) description section********************************/
    .description-img {
        width: 163px;
        height: 163px;
        margin-bottom: 18px !important;
    }
    /*************x******************end responsive (375) description section******************x***********/
}
@media(max-width: 360px) {
    .description-img {
        width: 136px;
        height: 153px;
        margin-bottom: 18px !important;
    }
}
@media(max-width: 320px) {
    /********************************** responsive (576) site-banner section********************************/
    .site-banner .heading-1-meb {
        font-size: 33px;
        }
        .site-banner .heading-1-ossb {
            font-size: 18px;
            }
            .site-banner .mar-b-24 {
                margin-bottom: 30px;
            }
    .site-banner .button-primary {
        padding: 10px 19px;
        font-size: 16px;
    }
    .site-banner .button-secondary {
        padding: 10px 19px;
        font-size: 16px;
    }
    /*************x******************end responsive (576) site-banner section******************x***********/
     /********************************** responsive (320) description section********************************/
    .description-img {
        width: 136px;
        height: 136px;
        margin-bottom: 18px !important;
    }
    /*************x******************end responsive (320) description section******************x***********/
}
/**************x*********************end responsive section*************************x***********/