/**********************************site-banner section********************************/
.site-banner-select-location {
    padding-bottom: 80px;
    display: flex;
    align-items: flex-end;
}

.site-banner-select-location-height {
    height: 38vh;
}
.site-banner-width {
    width: 82.86%;
    margin: 0 auto;
}
.padding-side {
    padding-right: 15px;
    padding-left: 15px;
}
/******************x***************end site-banner section******************x*************/

/******************************************bred-crumb-section*******************************/
.bred-crumb-section {
    margin-bottom: 31px;
}
.breadcrumb-item {
    font-size: 12px !important;
    text-transform: capitalize;
}
.bred-crumb-section {
    padding: 27px 0;
}
.breadcrumb-item+.breadcrumb-item::before{
    content: ">";
}
/******************x***********************end bred-crumb-section*************x*****************/
/*********************************************carousel-thumb*************************************/
.glide-thumb-carousel-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    }
    #big .apartment-img {
        max-width: 770px;
        height: 446px;
        border-radius: 8px;
    }
    #big > div.owl-stage-outer > div > div:nth-child(1) > div {
        background-color: #ff9a9e;
    }
    #big > div.owl-stage-outer > div > div:nth-child(2) > div{
        background-color: #9affb3;
    }
    #big > div.owl-stage-outer > div > div:nth-child(3) > div {
        background-color: #c19aff;
    }
    #big > div.owl-stage-outer > div > div:nth-child(4) > div {
        background-color: #dcff9a;
    }
    #big > div.owl-stage-outer > div > div:nth-child(5) > div {
        background-color: #ffba9a;
    }
    #thumbs {
        position: absolute;
        bottom: 70px;
        width: 360px;
    }
    #thumbs .owl-item {
        width: 69px !important;
        height: 69px !important;
        border-radius: 8px; 
        border: 1px solid white;
    }
    #thumbs .owl-stage {
        display: flex;
        justify-content: space-evenly;
            height: 80px;
            align-items: center;
    
    }
    #thumbs > div.owl-stage-outer > div > div.owl-item {
        background-color: #ff9a9e;
    }
    #thumbs > div.owl-stage-outer > div > div:nth-child(2) {
        background-color: #9affb3;
    }
    #thumbs > div.owl-stage-outer > div > div:nth-child(3) {
        background-color: #c19aff;
    }
    #thumbs > div.owl-stage-outer > div > div:nth-child(4) {
        background-color: #dcff9a;
    }
    #thumbs > div.owl-stage-outer > div > div:nth-child(5) div{
        background-color: #ffc79a;
    }
    #thumbs .owl-item.active.current {
        box-shadow: 2px 3px 8px #28a745;
    }
    #big {
    display: flex;
    justify-content: center;
    }
    #big .owl-nav {
        position: absolute;
        top: 210px;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
/*********************************************carousel-thumb*************************************/
/*************************************************location-card***********************************/
.location-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(27, 27, 27, 0.11);
    background-color: #ffffff;
    max-width: 370px;
 }
 .card-img-wrapper {
    display: flex;
    flex-direction: column;
}
 .card-img {
    position: relative;
    display: flex;
    flex-direction: column;
}
.location-card-img {
    max-width: 370px;
    height: 226px;
    object-fit: contain;
    background-color: rgb(21, 156, 111);
    border-radius: 8px;
}
.location-card-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: auto !important;
}
.location-card-description {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 16px 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.247);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.location-description-icon {
    object-fit: contain;
    width: auto !important;
}
.card-address-info-wrapper {
    position: relative;
    display: flex;
}
.card-address-info {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}
.card-reserved-info {
    position: absolute;
    display: none;
    transition: 0.5s all;
    bottom: 12px;
    right: -114px;
    text-align: center;
    width: 160px;
    height: 145px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 32% 86%, 23% 100%, 18% 87%, 0 87%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 32% 86%, 23% 100%, 18% 87%, 0 87%);
    
    padding: 16px 11px;
    background-color: #ffffff;
    border-radius: 8px;
}

.card-address-info:hover .card-reserved-info {
    display: block;
}
/*************************************************end location-card***********************************/
/***************************************|||Responsiveness||||*********************************/
@media (max-width: 1024px) {
    /**********************************responsive (768) site-banner section********************************/ 
    .site-banner-select-location {
        padding-bottom: 165px;
        display: flex;
        align-items: flex-end;
    }
    /*****************x****************end responsive (768) site-banner section****************x***************/
    /***********************************************carouser****************************************************/
    #big .apartment-img {
        max-width: 100%;
    }
    /***********************************************end carouser****************************************************/

}
@media (max-width: 768px) {
    /**********************************responsive (768) site-banner section********************************/
    .site-banner-select-location {
        padding-bottom: 25px;
        display: flex;
        align-items: flex-end;
    }
    .site-banner-select-location-height {
        height: 25vh;
    }
    .site-banner-width .mar-b-20 {
        margin-bottom: 4px !important;
    }
    .select-l-width {
        width: 100%;
    }
    .site-banner-width {
        width: 100%;
        text-align: center;
    }
    .site-banner-width .heading-15-meb {
        font-family: Montserrat-Bold;
        font-size: 40px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.37px;
        text-align: center;
        color: #ffffff;
    }
    .site-banner-width .heading-1-ossbi {
        font-family: OpenSens-SemiBold;
        font-size: 24px;
        font-stretch: normal;
        font-style: normal;
        line-height: 44px;
        letter-spacing: 0.82px;
        text-align: center;
        color: #ffffff;
    }
    /*****************x****************end responsive (768) site-banner section****************x***************/
    .bred-crumb-section {
        margin-bottom: 30px;
    }
    .bred-crumb-section {
        padding: 5px 0;
    }

    
}
@media (max-width: 600px){
    /**********************************responsive (600) site-banner section********************************/
    .site-banner-select-location-height {
        height: 33vh;
        display: flex;
    }
    .site-banner-width .heading-1-ossbi {
        font-size: 21px;
    }
    .site-banner-select-location {
        padding-bottom: 0px;
    }
     /********************************** end responsive (600) site-banner section********************************/
    /********************************* responsive (600) bred-crumb-section*******************************/
    .bred-crumb-section {
        padding: 5px 15px;
    }
    .breadcrumb {
        justify-content: center;
    }
        /**********************************end responsive (600) bred-crumb-section********************************/
    /********************************* responsive (600) select-location-section*******************************/
    .grid-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    /*********************************end  responsive (600) select-location-section*******************************/
    /**********************************************************carousel********************************************/
    .glide-thumb-carousel-wrapper {
        flex-direction: column;
    }
    #thumbs {
        position: unset;
        margin: 14px auto;
    }
    #thumbs .owl-stage {
        height: 50px;
        align-items: center;
    }
    #thumbs .owl-item {
        width: 40px !important;
        height: 40px !important;
    }
    /**********************************************************end carousel********************************************/
}
@media (max-width: 414px){
    .site-banner-select-location {
        padding-bottom: 30px;
    }

}
@media (max-width: 375px){
    .site-banner-select-location {
        padding-bottom: 30px;
    }
    .site-banner-width .heading-15-meb {
        font-size: 30px;
    }
    .site-banner-width .mar-b-20 {
        margin-bottom: 0px;
    }

}
 /**********************************************************carousel********************************************/
 #thumbs .owl-stage, #thumbs {
    width: auto !important;
}
#thumbs > div.owl-stage-outer > div > div.owl-item {
    margin-right: 20px;
}
#thumbs > div.owl-stage-outer > div > div.owl-item:last-child {
    margin-right: 5px;
}
 /**********************************************************end carousel********************************************/