/**********************************site-banner section********************************/
.site-banner-apartments-bg {
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
/******************x***************end site-banner section******************x*************/
/**********************************entering-location********************************/
.entering-location {
    margin: 0 auto;
}
.entering-location-title {
    margin-bottom: 28px;
}
#location {
    width: 45%;
    height: 50px;
    border-radius: 25px;
    border: solid 2px #f3f3f4;
    outline: none;
    padding: 0 20px;
    margin: 28px 0;
}
#location:focus {
    box-shadow: 1px 1px 7px rgb(0, 162, 255);
}
#location::placeholder {
    background-image: url(../assets/img/pin.png);
    background-repeat: no-repeat;
    padding: 0 25px;
    padding-bottom: 8px;
}
.search-wrapper {
    position: relative;
}
.search-icon {
    position: absolute;
    top: 40%;
    right: 56%;
}
.popular-link-title {
    margin-bottom: 15px;
}
.popular-location-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-left: 27px;
    padding-right: 27px;
    border-radius: 25px;
    box-shadow: 0 4px 10px 0 rgba(27, 27, 27, 0.11);
    background-color: #ffffff;
    transition: 0.5s all;
    cursor: pointer;
}
.popular-location-item:hover {
    background-color: #55bfd7;
    color: white;
}
.popular-location-wrapper {
    margin-bottom: 100px;
    /* padding-right: 15px;
    padding-left: 15px; */
}
.popular-location-wrapper >:not(:last-child) {
    margin-right: 15px;
}
.popular-location-wrapper > a > i {
    padding-right: 8px;
}
.divider-wrapper {
    position: relative;
    margin-bottom: 80px;
    height: 20px;

}
.divider {
    display: block;
    width: 100%;
    border-bottom: 2px solid #f3f3f4;
}
.divider-text {
    position: absolute;
    top: -187%;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 2px solid #e6e6e8;
    border-radius: 50%;
    background-color: #ffffff;
}
.select-continent-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
.select-continent-item-wrapper > :not(:last-child) {
    margin-right: 30px;
}
.select-continent-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 8px;
    padding: 17px 50px;
    border: 2px solid #f3f3f4;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.5s all;
    
}
.select-continent-item:hover {
    background-color: #55bfd7;
    color: white;
}
.select-continent-title {
    margin-bottom: 23px;
}
.select-continent-map {
    max-width: 670px;
    height: 301px;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
/*******************x*************** end entering-locationn********************x************/


/***************************************responsiveness****************************************/
@media (max-width: 1400px) {
    .popular-location-wrapper {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width: 1024px) {
    .entering-location-title {
        margin-bottom: 0;
    }
    .popular-location-wrapper {
        margin-bottom: 70px;
    }
    .divider-wrapper {
        margin-bottom: 50px;
    }
    .select-continent-item-wrapper {
        margin-bottom: 70px;
    }
    .select-continent-map-wrapper {
        margin-bottom: 70px;
    }
    .select-continent-map {
        margin: 0 auto;
    }
    .divider-text {
        right: 46%;
    }
}
@media (max-width: 768px) {
    .divider-wrapper {
        margin-bottom: 35px;
    }
    .select-continent-map-container {
        display: none;
    }
    .select-continent-item-wrapper > :not(:last-child) {
        margin-right: 18px;
    }
    .select-continent-item-wrapper .mar-b-30 {
        margin-bottom: 18px;
    }
    .select-continent-item {
        padding: 17px 35px;
    }
}
@media (max-width: 600px) {
    #location {
        width: 100%;
        padding: 0 20px;
    }
    .search-icon {
        right: 8%;
    }
    .popular-location-wrapper .heading-32-ossb-black{
        font-size: 14px;
    }
    .popular-location-item {
        height: 43px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .popular-location-wrapper {
        margin-bottom: 50px;
    }
    .divider-text {
        right: 43%;
        top: -140%;
        width: 60px;
        height: 60px;
    }
    .select-continent-wrapper .heading-2-ossb-white{
        font-size: 18px;
    }
    .select-continent-title {
        margin-bottom: 12px;
    }
    .select-continent-item-wrapper > :not(:last-child) {
        margin-right: 15px;
    }
    .select-continent-item-wrapper .mar-b-30 {
        margin-bottom: 15px;
    }
    .select-continent-item {
        padding: 17px 21px;
    }
    .select-continent-item-wrapper {
        margin-bottom: 40px;
    }
}
@media (max-width: 400px) {
    .popular-location-wrapper .heading-32-ossb-black {
        font-size: 13px;
    }
}
@media (max-width: 350px) {
    .popular-location-wrapper >:not(:last-child) {
        margin-right: 10px;
    }
    .popular-location-wrapper >:not(:last-child) {
        margin-right: 10px;
    }
    .popular-location-item {
        height: 43px;
        padding-left: 13px;
        padding-right: 13px;
    }

}
/***************************************responsiveness****************************************/